@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background-color: #ffffff;
    --background-color-2: #2596be;
    --btn-color: #000000;
    --text-color: #80162d;
    --anchors-selected-color: #666666;
    --green-color: #176B4D;
    --gold-color: #D4AF37;
    --text-font-1: 'Outfit', sans-serif;
}

.admins-main-header h3 {
    font-size: 1.5rem;
    font-family: var(--text-font-1);
    text-transform: uppercase;
    user-select: none;
}

.admins-main {
    background: var(--background-color-2);
    position: relative;
}

.admin-name {
    background: var(--text-color);
}

.admin-dashboard-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admins-main-painel {
    position: absolute;
    width: 100%;;
    height: 100%;
    z-index: 10;
    background: var(--text-color);
    padding: 0.5rem;
    display: flex;
    left: -200%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.admins-main-painel-header h3 {
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--text-font-1);
    text-transform: uppercase;
    user-select: none;
    text-align: center;
}

.admins-main-painel.opened {
    left: 0;
}

.admins-main-painel-goals {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 10;
    background: var(--background-color-2);
}

.admins-main-painel-goals.opened {
    left: 0;
}
