@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background-color: #ffffff;
    --background-color-2: #2596be;
    --btn-color: #000000;
    --text-color: #80162d;
    --anchors-selected-color: #666666;
    --green-color: #176B4D;
    --gold-color: #D4AF37;
    --text-font-1: 'Outfit', sans-serif;
}

.dashboard, .dashboard-goals, .dashboard-graph {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-color-2);
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    left: -100%;
    padding: 0.5rem;
}

.dashboard.opened {
    left: 0;
}


.th.disabled-day, .td.disabled-day {
    pointer-events: none;
    background: #eee;
    color: #999;
    cursor: not-allowed;
}

.dashboard-name, .dashboard-goals-name {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--text-font-1);
    color: var(--background-color);
    text-transform: uppercase;
}

.dashboard-display, .dashboard-goals-display {
    color: var(--background-color);
    font-family: var(--text-font-1);
    text-transform: uppercase;
    border-collapse: collapse;
    width: max-content;
    height: 50%;
    text-align: center;
    max-height: max-content;
    width: 100%;
    max-width: max-content;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: start;
}

.dashboard-display th,
.dashboard-display td,
.dashboard-goals-display th,
.dashboard-goals-display td {
    border: 1px solid #333;
    height: 42px;
    padding: 0 10px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Outfit", sans-serif;
}

.dashboard-display thead th, .dashboard-goals-display thead th {
    top: 0;
    background: var(--background-color-2);
}

.dashboard-display tbody th, .dashboard-goals-display tbody th {
    position: sticky;
    background: var(--background-color-2);
    left: 0;
    min-width: 10rem;
}

th {
    text-align: left;
}

.dashboard-goals-display td:last-child {
    text-align: left;
}

.dashboard-display td {
    cursor: cell;
}

.dashboard-display td:focus {
    outline: 2px solid #4285f4;
}

.dashboard-commands button, .dashboard-goals-commands button, .dashboard-graph-commands button {
    background: var(--text-color);
    color: var(--background-color);
    font-family: var(--text-font-1); 
    letter-spacing: 0.1rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

.dashboard-commands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.dashboard-commands button, .dashboard-goals-commands button, .dashboard-graph-commands button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    width: 8rem;
}

.dashboard-goals, .dashboard-graph {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: var(--background-color-2);
    left: -100%;
}

.dashboard-goals.opened, .dashboard-graph.opened {
    left: 0;
}

.dashboard-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dashboard-graph-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.dashboard-graph-painel {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20%;
    background: var(--btn-color);
}

.dashboard-graph-display-header {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.dashboard-card {
    min-height: 180px;
    background: var(--background-color);
    border-radius: 12px;
}

.dashboard-graph-display-sources {
    width: 50%;
    flex: 1;
    background: var(--background-color);
    border-radius: 12px;
}

